    @charset "UTF-8";
    @font-face {
        font-family: "indroid";
        src: url("fontes/idroid.otf") format("opentype");
        font-weight: normal;
    }
    /*dois .. na url quer dize vouta uma pasta*/
    
    @font-face {
        font-family: 'Bebas Neue';
        src: url("fontes/BebasNeue-Regular.ttf") format("truetype");
    }
    
     :root {
        --cor1: #faf885;
        --cor2: #83e1ad;
        --cor3: #3ddc84;
        --cor4: #2fa866;
        --cor5: #1a5c37;
        --cor6: #063d1e;
        --font-padrao: arial, verdana, Helvetica, sans-serif;
        --font-destaque: 'Bebas Neue', sans-serif;
        --font-android: "indroid", sans-serif;
    }
    
    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-color: var(--cor1);
        font-family: var(--font-padrao);
    }
    
    .link::after {
        content: '\0020\1F517';
    }
    
    header {
        background-image: linear-gradient(to bottom, var(--cor2), var(--cor6)95%);
        height: 150px;
        text-align: center;
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    header>h1 {
        color: #fff;
        font-family: var(--font-destaque);
        margin-bottom: 20px;
        font-size: 3.0em;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
    }
    
    header>p {
        color: #fff;
        font-family: var(--font-padrao);
        font-size: 1.2em;
        max-width: 90%;
        height: 100%;
        margin: auto;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
        margin-bottom: 20px;
    }
    
    @media (max-width: 768px) {
        header>h1 {
            font-size: 2rem;
        }
        header>p {
            max-width: 90%;
            font-size: 1rem;
        }
    }
    
    nav {
        background-color: var(--cor6);
        padding: 10px;
        box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.541);
        overflow-y: auto;
        white-space: nowrap;
    }
    
    nav>a {
        color: white;
        text-decoration: none;
        padding: 10px;
        font-weight: bolder;
        transition-duration: 1s;
    }
    
    nav>a:hover {
        background-color: var(--cor3);
        color: var(--cor6);
        border-radius: 5px;
    }
    
    main {
        background-color: #fff;
        margin: auto;
        margin-bottom: 50px;
        padding: 20px;
        min-width: 200px;
        max-width: 800px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    main h1 {
        color: var(--cor6);
        font-family: var(--font-android);
    }
    
    main h2 {
        font-family: var(--font-android);
        color: var(--cor5);
        font-size: 1.3em;
        background-image: linear-gradient(to right, var(--cor2), transparent);
        text-indent: 10px;
    }
    
    main p {
        margin: 15px 0px;
        text-align: justify;
        text-indent: 30px;
        line-height: 1.8em;
        font-size: 1.1;
    }
    
    main strong {
        color: var(--cor6);
        font-weight: bolder;
    }
    
    main a {
        text-decoration: none;
        font-weight: bolder;
        color: var(--cor6);
        background-color: var(--cor3);
        padding: 2px 3px;
        margin: 1px;
    }
    
    main a:hover {
        text-decoration: underline;
        color: var(--cor1);
    }
    
    img {
        width: 100%;
    }
    
    .pequena {
        max-width: 350px;
        display: block;
        margin: auto;
        filter: drop-shadow(0px 0px 10px green);
    }
    
    .video {
        background-color: var(--cor6);
        margin-bottom: 30px;
        margin: 0px -20px 30px -20px;
        padding: 20px;
        position: relative;
        padding-bottom: 59%;
    }
    
    .video>iframe {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }
    
    aside {
        background-color: var(--cor2);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.575);
        margin: 10px 0px 20px 0px;
    }
    
    aside h3 {
        background-color: var(--cor5);
        color: white;
        margin: -10px -10px 0px -10px;
        padding: 5px;
        border-radius: 10px 10px 0px 0px;
    }
    
    aside ul {
        list-style-position: inside;
        columns: 2;
        gap: 100px;
        list-style-type: '\2714\00A0\00A0';
    }
    
    footer {
        background-color: var(--cor6);
        color: #fff;
        text-align: center;
        font-size: 0.8em;
        padding: 5px;
    }
    
    footer a {
        color: white;
        text-decoration: none;
        font-weight: bolder;
    }
    
    footer a:hover {
        text-decoration: underline;
        color: var(--cor2);
    }